# Data Cleaning

In [1]:
# import modules 
import pandas as pd
import numpy as np

In [2]:
# load nyc_restaurants.csv
df = pd.read_csv('nyc_restaurants.csv')

In [3]:
# inspect df
df

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
0,50104876,NOODLE SUPER NO I,Manhattan,265,1 AVENUE,10003.0,2125290539,Chinese,8/24/2022,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Second Compliance I...,40.732264,-73.981768,106.0,2.0,4800.0,1020423.0,1.009220e+09,MN21,NaN
1,50174387,TREATS OF KOREA,Queens,3150,STEINWAY ST,11103.0,8453232965,NaN,1/1/1900,NaN,...,NaN,40.760128,-73.918066,401.0,22.0,15500.0,4010534.0,4.006580e+09,QN70,NaN
2,50122756,MELLER'S SPORTS HUB & GRILL,Manhattan,1702,2 AVENUE,10128.0,9175964244,American,8/4/2025,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,40.779327,-73.950670,108.0,5.0,14602.0,1050066.0,1.015510e+09,MN32,NaN
3,41408131,CHRIS RESTAURANT,Brooklyn,1866,86 STREET,11214.0,3474623755,Polish,5/20/2024,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,40.606285,-74.001070,311.0,38.0,27800.0,3340602.0,3.063710e+09,BK28,NaN
4,50138007,PEARL OF CHINA,Brooklyn,8411,3 AVENUE,11209.0,7188334281,Chinese,8/16/2023,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Initial Inspection,40.624850,-74.030476,310.0,47.0,6200.0,3152743.0,3.060250e+09,BK31,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288883,50151761,RALPH'S FAMOUS ITALIAN ICES,Queens,3002,30TH ST,11102.0,5164173330,Other,9/19/2024,Violations were cited in the following area(s).,...,Pre-permit (Operational) / Re-inspection,40.766988,-73.922437,401.0,22.0,7300.0,4542099.0,4.005920e+09,QN71,NaN
288884,40370766,SMITH & WOLLENSKY,Manhattan,201,EAST 49 STREET,10017.0,2127531530,American,1/8/2025,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,40.755051,-73.970875,106.0,4.0,9800.0,1038223.0,1.013230e+09,MN19,NaN
288885,41262804,LILY'S CAFE RESTAURANT,Bronx,53,EAST 167 STREET,10452.0,6464045480,Latin American,5/2/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,40.835534,-73.920709,204.0,16.0,19700.0,2003013.0,2.024890e+09,BX63,NaN
288886,50088242,GRIMALDI'S PIZZERIA,Brooklyn,1,FRONT STREET,11201.0,7188584300,Pizza,5/24/2023,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,40.702479,-73.993205,302.0,33.0,2100.0,3000072.0,3.000350e+09,BK38,NaN
288887,50089515,PICO DE GALLO RESTAURANT,Queens,8009,ROOSEVELT AVE,11372.0,7186397271,Mexican,8/23/2022,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,40.747461,-73.885597,403.0,25.0,28300.0,4029998.0,4.012910e+09,QN28,NaN

In [4]:
# show basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288888 entries, 0 to 288887
Data columns (total 27 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CAMIS                  288888 non-null  int64
 1   DBA                    288882 non-null  object
 2   BORO                   288888 non-null  object
 3   BUILDING               288379 non-null  object
 4   STREET                 288885 non-null  object
 5   ZIPCODE                285977 non-null  float64
 6   PHONE                  288882 non-null  object
 7   CUISINE DESCRIPTION    285189 non-null  object
 8   INSPECTION DATE        288888 non-null  object
 9   ACTION                 285189 non-null  object
 10  VIOLATION CODE         283037 non-null  object
 11  VIOLATION DESCRIPTION  283037 non-null  object
 12  CRITICAL FLAG          288888 non-null  object
 13  SCORE                  272962 non-null  float64
 14  GRADE                  140844 non-null  object
 15  GRADE DATE             133020 non-null  object
 16  RECORD DATE            288888 non-null  object
 17  INSPECTION TYPE        285189 non-null  object
 18  Latitude               288475 non-null  float64
 19  Longitude              288475 non-null  float64
 20  Community Board        285173 non-null  float64
 21  Council District       285174 non-null  float64
 22  Census Tract           285174 non-null  float64
 23  BIN                    283766 non-null  float64
 24  BBL                    288081 non-null  float64
 25  NTA                    285173 non-null  object
 26  Location Point1        0 non-null       float64
dtypes: float64(10), int64(1), object(16)
memory usage: 59.5+ MB

# Standardize Data

In [5]:
# whitellist columns to keep for analysis
columns_to_keep = df[[
    'CAMIS', 'DBA', 'BORO', 'ZIPCODE', 'CUISINE DESCRIPTION',
    'INSPECTION DATE', 'ACTION', 'VIOLATION CODE', 'VIOLATION DESCRIPTION', 'CRITICAL FLAG',
    'SCORE', 'GRADE', 'INSPECTION TYPE'
]]

# create new clean dataframe 
df = columns_to_keep.copy()

In [6]:
# convert column names to lower case and replace space with underscore
df.columns = df.columns.str.replace(' ', '_').str.lower()

In [7]:
# inspect new dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288888 entries, 0 to 288887
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   camis                  288888 non-null  int64
 1   dba                    288882 non-null  object
 2   boro                   288888 non-null  object
 3   zipcode                285977 non-null  float64
 4   cuisine_description    285189 non-null  object
 5   inspection_date        288888 non-null  object
 6   action                 285189 non-null  object
 7   violation_code         283037 non-null  object
 8   violation_description  283037 non-null  object
 9   critical_flag          288888 non-null  object
 10  score                  272962 non-null  float64
 11  grade                  140844 non-null  object
 12  inspection_type        285189 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 28.7+ MB

In [8]:
# convert text to lowercase
cols_to_lower = [
    'dba', 'boro', 'cuisine_description', 'action', 
    'violation_description', 'critical_flag', 'inspection_type'
]

df[cols_to_lower] = df[cols_to_lower].apply(lambda x: x.str.lower())
df

,camis,dba,boro,zipcode,cuisine_description,inspection_date,action,violation_code,violation_description,critical_flag,score,grade,inspection_type
0,50104876,noodle super no i,manhattan,10003.0,chinese,8/24/2022,violations were cited in the following area(s).,02B,hot tcs food item not held at or above 140 °f.,critical,26.0,NaN,pre-permit (operational) / second compliance i...
1,50174387,treats of korea,queens,11103.0,NaN,1/1/1900,NaN,NaN,NaN,not applicable,NaN,NaN,NaN
2,50122756,meller's sports hub & grill,manhattan,10128.0,american,8/4/2025,violations were cited in the following area(s).,04L,evidence of mice or live mice in establishment...,critical,80.0,NaN,cycle inspection / initial inspection
3,41408131,chris restaurant,brooklyn,11214.0,polish,5/20/2024,violations were cited in the following area(s).,10G,dishwashing and ware washing: cleaning and san...,not critical,12.0,A,cycle inspection / re-inspection
4,50138007,pearl of china,brooklyn,11209.0,chinese,8/16/2023,violations were cited in the following area(s).,09E,wash hands sign not posted near or above hand ...,not critical,8.0,A,pre-permit (operational) / initial inspection
...,...,...,...,...,...,...,...,...,...,...,...,...,...
288883,50151761,ralph's famous italian ices,queens,11102.0,other,9/19/2024,violations were cited in the following area(s).,06E,"sanitized equipment or utensil, including in-u...",critical,10.0,A,pre-permit (operational) / re-inspection
288884,40370766,smith & wollensky,manhattan,10017.0,american,1/8/2025,violations were cited in the following area(s).,06D,"food contact surface not properly washed, rins...",critical,12.0,A,cycle inspection / initial inspection
288885,41262804,lily's cafe restaurant,bronx,10452.0,latin american,5/2/2023,violations were cited in the following area(s).,10F,non-food contact surface or equipment made of ...,not critical,25.0,NaN,cycle inspection / initial inspection
288886,50088242,grimaldi's pizzeria,brooklyn,11201.0,pizza,5/24/2023,violations were cited in the following area(s).,08A,establishment is not free of harborage or cond...,not critical,49.0,NaN,cycle inspection / initial inspection
288887,50089515,pico de gallo restaurant,queens,11372.0,mexican,8/23/2022,violations were cited in the following area(s).,08A,establishment is not free of harborage or cond...,not critical,36.0,NaN,cycle inspection / initial inspection

In [9]:
# boro unique values
df['boro'].value_counts()

boro
manhattan        106792
brooklyn          74890
queens            70702
bronx             26425
staten island     10064
0                    15
Name: count, dtype: int64

In [10]:
# remove boro '0'
df = df[df['boro'] != '0']
df['boro'].value_counts()

boro
manhattan        106792
brooklyn          74890
queens            70702
bronx             26425
staten island     10064
Name: count, dtype: int64

In [11]:
# cuisine description unique values
df['cuisine_description'].value_counts()

cuisine_description
american              45233
chinese               27913
coffee/tea            20237
pizza                 17303
latin american        12748
                      ...
chilean                  36
nuts/confectionary       34
czech                    13
haute cuisine             5
chimichurri               2
Name: count, Length: 89, dtype: int64

In [12]:
# find top 15 cuisine
df['cuisine_description'].value_counts().sort_values(ascending=False).head(15)

cuisine_description
american                          45233
chinese                           27913
coffee/tea                        20237
pizza                             17303
latin american                    12748
mexican                           11874
bakery products/desserts          11364
caribbean                         10560
japanese                          10088
italian                            9488
chicken                            7616
spanish                            7036
asian/asian fusion                 5479
sandwiches                         5276
juice, smoothies, fruit salads     5208
Name: count, dtype: int64

In [13]:
# combine asian fusion with chinese cuisine
conditions = [
    df['cuisine_description'] == 'asian/asian fusion'
]
values = [
    'chinese'
]
df['cuisine_description'] = np.select(conditions, values, default=df['cuisine_description'])

# combine donuts with bakery products/desserts
conditions = [
    df['cuisine_description'] == 'donuts'
]
values = [
    'bakery products/desserts'
]
df['cuisine_description'] = np.select(conditions, values, default=df['cuisine_description'])

# find top 15 cuisine
df['cuisine_description'].value_counts().sort_values(ascending=False).head(15)

C:\Users\16179\AppData\Local\Temp\ipykernel_53000\3793031486.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cuisine_description'] = np.select(conditions, values, default=df['cuisine_description'])
C:\Users\16179\AppData\Local\Temp\ipykernel_53000\3793031486.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cuisine_description'] = np.select(conditions, values, default=df['cuisine_description'])

cuisine_description
american                          45233
chinese                           33392
coffee/tea                        20237
pizza                             17303
bakery products/desserts          16514
latin american                    12748
mexican                           11874
caribbean                         10560
japanese                          10088
italian                            9488
chicken                            7616
spanish                            7036
sandwiches                         5276
juice, smoothies, fruit salads     5208
korean                             4475
Name: count, dtype: int64

In [14]:
# find what percentage of the total that the top 15 cuisines represents
df['cuisine_description'].value_counts(normalize=True).head(15).sum()

0.7610672220878084

In [15]:
# filter top 15 cuisines to use in analysis
top_cuisines = df['cuisine_description'].value_counts().nlargest(15).index

df['cuisine_clean'] = np.where(df['cuisine_description'].isin(top_cuisines), 
                               df['cuisine_description'], 
                               'Other')

df['cuisine_clean'].value_counts()

C:\Users\16179\AppData\Local\Temp\ipykernel_53000\1823601686.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cuisine_clean'] = np.where(df['cuisine_description'].isin(top_cuisines),

cuisine_clean
Other                             71825
american                          45233
chinese                           33392
coffee/tea                        20237
pizza                             17303
bakery products/desserts          16514
latin american                    12748
mexican                           11874
caribbean                         10560
japanese                          10088
italian                            9488
chicken                            7616
spanish                            7036
sandwiches                         5276
juice, smoothies, fruit salads     5208
korean                             4475
Name: count, dtype: int64

In [16]:
# look at inspection_date format
df['inspection_date'].head()

0    8/24/2022
1     1/1/1900
2     8/4/2025
3    5/20/2024
4    8/16/2023
Name: inspection_date, dtype: object

In [17]:
# convert inspection date to datetime
df['inspection_date'] = pd.to_datetime(df['inspection_date'], format='%m/%d/%Y')

# confirm result
df['inspection_date'].head()

C:\Users\16179\AppData\Local\Temp\ipykernel_53000\3657656954.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['inspection_date'] = pd.to_datetime(df['inspection_date'], format='%m/%d/%Y')

0   2022-08-24
1   1900-01-01
2   2025-08-04
3   2024-05-20
4   2023-08-16
Name: inspection_date, dtype: datetime64[ns]

# Handle Missing Values

In [18]:
# sum of na for each column
df.isna().sum()

camis                         0
dba                           6
boro                          0
zipcode                    2908
cuisine_description        3684
inspection_date               0
action                     3684
violation_code             5836
violation_description      5836
critical_flag                 0
score                     15911
grade                    148029
inspection_type            3684
cuisine_clean                 0
dtype: int64

In [19]:
# impute grades based on available scores
conditions = [
    df['score'] <= 13,
    df['score'] <= 27,
    df['score'] >= 28
]
values = [
    'A',
    'B',
    'C'
]
df['imputed_grade'] = np.select(conditions, values, default=df['grade'])

# check count
df.isna().sum()

C:\Users\16179\AppData\Local\Temp\ipykernel_53000\1182757687.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['imputed_grade'] = np.select(conditions, values, default=df['grade'])

camis                         0
dba                           6
boro                          0
zipcode                    2908
cuisine_description        3684
inspection_date               0
action                     3684
violation_code             5836
violation_description      5836
critical_flag                 0
score                     15911
grade                    148029
inspection_type            3684
cuisine_clean                 0
imputed_grade             15897
dtype: int64

In [20]:
# fill missing violations with 'no violation
df[['violation_code', 'violation_description']] = df[['violation_code', 'violation_description']].fillna('no violation')

# drop rows with missing values
df.dropna(subset=['cuisine_description', 'action', 'inspection_type', 'dba', 'score'], inplace=True)

# format zipcodes to int
df['zipcode'] = df['zipcode'].fillna(0).astype(int)

# Check the final count
print(df.isnull().sum())

C:\Users\16179\AppData\Local\Temp\ipykernel_53000\2051405741.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['violation_code', 'violation_description']] = df[['violation_code', 'violation_description']].fillna('no violation')
C:\Users\16179\AppData\Local\Temp\ipykernel_53000\2051405741.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset=['cuisine_description', 'action', 'inspection_type', 'dba', 'score'], inplace=True)
C:\Users\16179\AppData\Local\Temp\ipykernel_53000\2051405741.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['zipcode'] = df['zipcode'].fillna(0).astype(int)

camis                         0
dba                           0
boro                          0
zipcode                       0
cuisine_description           0
inspection_date               0
action                        0
violation_code                0
violation_description         0
critical_flag                 0
score                         0
grade                    132132
inspection_type               0
cuisine_clean                 0
imputed_grade                 0
dtype: int64

# Descriptive Statistics

In [21]:
# column info
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 272962 entries, 0 to 288887
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   camis                  272962 non-null  int64
 1   dba                    272962 non-null  object
 2   boro                   272962 non-null  object
 3   zipcode                272962 non-null  int32
 4   cuisine_description    272962 non-null  object
 5   inspection_date        272962 non-null  datetime64[ns]
 6   action                 272962 non-null  object
 7   violation_code         272962 non-null  object
 8   violation_description  272962 non-null  object
 9   critical_flag          272962 non-null  object
 10  score                  272962 non-null  float64
 11  grade                  140830 non-null  object
 12  inspection_type        272962 non-null  object
 13  cuisine_clean          272962 non-null  object
 14  imputed_grade          272962 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(1), int64(1), object(11)
memory usage: 32.3+ MB

In [22]:
# descriptive statistics
df.describe()

,camis,zipcode,inspection_date,score
count,2.729620e+05,272962.000000,272962,272962.000000
mean,4.789302e+07,10602.061415,2023-12-27 07:23:32.688945664,24.830768
min,3.007544e+07,0.000000,2015-09-24 00:00:00,0.000000
25%,5.000048e+07,10022.000000,2023-02-10 00:00:00,12.000000
50%,5.008440e+07,11101.000000,2024-03-07 00:00:00,21.000000
75%,5.012209e+07,11231.000000,2024-12-11 00:00:00,33.000000
max,5.017623e+07,11697.000000,2025-09-16 00:00:00,175.000000
std,3.855315e+06,1218.559164,NaN,18.623792

In [23]:
# check date years
df['inspection_date'].dt.year.value_counts().sort_index()

inspection_date
2015       16
2016      215
2017      440
2018      613
2019      868
2020      374
2021     4480
2022    52496
2023    65311
2024    84316
2025    63833
Name: count, dtype: int64

# Move Clean df to MySQL Server

In [24]:
# install libraries
!pip install sqlalchemy mysql-connector-python

Requirement already satisfied: sqlalchemy in c:\users\16179\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: mysql-connector-python in c:\users\16179\anaconda3\lib\site-packages (9.5.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\16179\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\16179\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [26]:
# import modules
import getpass
from sqlalchemy import create_engine

# ask for the password securely
sql_password = getpass.getpass("Enter your MySQL Password: ")

# define connection details
username = 'root'
host = 'localhost'
database = 'nyc_restaurants'

# create the connection string 
connection_string = f"mysql+mysqlconnector://{username}:{sql_password}@{host}/{database}"

# create the engine
engine = create_engine(connection_string)

# push the DataFrame to SQL
df.to_sql(name='inspections', con=engine, if_exists='replace', index=False, chunksize=1000)

print("Success! Data imported safely.")

Enter your MySQL Password:  ········

Success! Data imported safely.